In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
from datetime import datetime, timedelta
from pprint import pprint
import requests

from scoreboard import Scoreboard
from nba_util import _api_scrape
from nba_util import get_all_player_ids

# shortcuts:
shift+Enter -> run cell + skip to next cell  
ctrl+Enter -> run cell (no skip)

# List

In [2]:
# list definition:
list_name = [12, 23, 's', 'Egozi', 3.14]

צור רשימה עם 10 איברים

In [4]:
A=['arbel','bnana','piza','no','aviv','adva',444,'A','egozi',9999999999]

In [7]:
A[9]

9999999999L


מהרשימה שיצרת ,צור רשימה חדשה שמכילה כל איבר שני מהרשימה הראשונה:

In [8]:
W=[A[1],A[3],A[5],A[7],A[9]]

In [9]:
W

['bnana', 'no', 'adva', 'A', 9999999999L]

צור רשימה שלישית שמכילה כל איבר שלישי מהרשימה הראשונה, מסודרים מהסוף להתחלה

In [10]:
Q=[A[9],A[6],A[3],A[0]]

In [11]:
Q

[9999999999L, 444, 'no', 'arbel']

# Dictionary

*Unordered* list of key:value pairs  
if d is a dictionary:  
list(d.keys()) -> list of all keys  
list(d.values()) -> list of all values

In [ ]:
# dict definition:
dict_name = {'Sunday': 1, 'Monday': 2, 'July': 26}

צור מילון עם חמישה איברים

In [12]:
arbel ={'avivi':454,'adva':876,'shasha':294,'fjl':511,'babana':6980}

In [18]:
keys = arbel.keys()

In [25]:
keys = sorted(keys)

In [26]:
keys

['adva', 'avivi', 'babana', 'fjl', 'shasha']

In [28]:
print arbel[keys[0]]

876

In [34]:
print arbel[keys[i]]

294

In [35]:
i

4

In [44]:
for i in range(5):
    
    print arbel[keys[4-i]]

294
511
6980
454
876

In [41]:
ahiya=arbel.keys()

In [42]:
arbel.values()

[454, 6980, 294, 876, 511]


print ahiya

הדפס את המילון על פי סדר האלף בית של המפתחות:

In [ ]:
# code here (use print())

# NBA

In [ ]:
sb = Scoreboard(offset=-1)

מה הפעולות של האובייקט?    
איזה אינפורמציה מכיל האובייקט?

In [ ]:
scores = sb.line_score()

  מה מכיל 
scores  
?  
איך הוא מסודר?

# משימה:  
המטרה לייצר מהנתונים רשימה של התוצאות של המשחקים מתוך  
scores.  
הרשימה צריכה להכיל מילון לכל משחק מהצורה:  
[..., {team1: score1, team2: score2}, ...]

In [ ]:
# code here

# FOR and IF

In [1]:
for i in range(5):
    print i

0
1
2
3
4

In [105]:
import numpy as np
a = list(np.random.randint(50, size=10))
# print a

In [84]:
# find minimum value
min_value = 9999
for i in range(len(a)):
    if a[i] < min_value: 
        min_value = a[i]

In [85]:
print 'Minimum value = ' + str(min_value)
print a

Minimum value = 0
[21, 21, 47, 7, 8, 49, 45, 18, 17, 12, 27, 46, 23, 2, 34, 22, 40, 33, 2, 36, 21, 31, 15, 44, 35, 1, 27, 7, 31, 42, 25, 24, 1, 40, 13, 18, 0, 5, 0, 4, 48, 38, 41, 15, 28, 38, 33, 14, 3, 44]

In [101]:
a = 23
b = 18

In [102]:
c = a
a = b
b = c

# c = a + b
# b = c - b
# a = c - a



# a = b
# b = a

In [103]:
print a
print b

18
23

In [111]:
[=]
a
n = len(a)
for i in range(len(a) - 1):
    print a[i], a[i+1]

47 49
49 0
0 40
40 32
32 31
31 31
31 19
19 11
11 30

In [109]:
a

[47, 49, 0, 40, 32, 31, 31, 19, 11, 30]